@page "/applications/edit/{Id:int}"
@page "/applications/create"

@using CXManagement.Application.DTOs.CX_Application
@using Microsoft.AspNetCore.Components.Forms

<h3>@(IsEdit ? "Edit Application" : "Create Application")</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p class="text-danger">@ErrorMessage</p>
}
else
{
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td><label for="CXAName">Name</label></td>
                    <td>
                        <InputText id="CXAName" class="form-control" @bind-Value="Model.CXAName" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-success">@((IsEdit) ? "Update" : "Create")</button>
                        <button type="button" class="btn btn-secondary ms-2" @onclick="Cancel">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </EditForm>
}
