@inherits LayoutComponentBase

<nav class="p-3 border-bottom">
    <NavLink href="/" class="me-3">Home</NavLink>

    <NavLink href="/applications/create" class="me-3">New Application</NavLink>
    <NavLink href="/applications" class="me-3">List of Application</NavLink>

    <NavLink href="/keywords/create" class="me-3">New Keyword</NavLink>
    <NavLink href="/keywords" class="me-3">List of Keywords</NavLink>

    <NavLink href="/customers/create" class="me-3">New Customer</NavLink>
    <NavLink href="/customers" class="me-3">List of Customer</NavLink>

</nav>

<main class="p-4">
    @Body
</main>
