@inherits LayoutComponentBase

<nav>
    <NavLink href="/" class="me-3">Home</NavLink>

    <NavLink href="/applications/create">New Application</NavLink>
    <NavLink href="/applications">List of Applications</NavLink>

    <NavLink href="/keywords/create">New Keyword</NavLink>
    <NavLink href="/keywords">List of Keywords</NavLink>

    <NavLink href="/customers/create">New Customer</NavLink>
    <NavLink href="/customers">List of Customers</NavLink>
</nav>

<main>
    @Body
</main>
